<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin_layout/default_layout">

<head>
    <title>Teacher</title>
</head>

<body>
<div class="content-page" layout:fragment="content-page">
    <div id="loading">
        <img id="loading-image" src="/picture/loading.gif" alt="Loading..." />
    </div>
    <table class="table" id="tblUser" th:fragment="fgUser">
        <thead class="thead-dark" >
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Profile</th>
            <th scope="col">Total Class</th>
            <th scope="col">Total Student</th>
            <th scope="col">Total Quiz</th>
            <th scope="col">Total Question</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teachers}" >
            <td th:text="${teacher.id}"></td>
            <td th:text="${teacher.firstName}"></td>
            <td th:text="${teacher.lastName}"></td>
            <td><img style="width: 64px;border-radius: 32px" th:src="${teacher.profile}"/></td>
            <td th:text="${teacher.totalClass}"></td>
            <td th:text="${teacher.totalStudent}"></td>
            <td th:text="${teacher.totalQuiz}"></td>
            <td th:text="${teacher.totalQuestion}"></td>
        </tr>
        </tbody>
    </table>
    <!--Pagination -->
    <div class="pagination-admin">
        <nav aria-label="pagination example" th:if="${paging.totalPages}>1">
            <ul class="pagination pagination-circle justify-content-center">

                <!--First-->
                <li class="page-item">
                    <a class="page-link" th:href="@{'?page=1'}" th:data-page="1" th:class="${paging.page}==1?'disabled item page-link':'item page-link'">First</a>
                </li>

                <!--Arrow left-->
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" th:href="@{'?page='+${paging.previousPage}}" th:data-page="${paging.previousPage}" th:class="${paging.page}==1?'disabled item page-link':'item page-link'">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <!--Numbers-->
                <li class="page-item" th:each="page: ${#numbers.sequence(paging.startPage,paging.endPage)}" th:data-page="${page}" th:class="${page}==${paging.page}?'active page-item':'page-item'">
                    <a th:href="@{'?page='+${page}}" th:text="${page}" th:class="${page}==${paging.page}?'active page-link':'page-link'">
                    </a>
                </li>



                <!--Arrow right-->
                <li class="page-item">
                    <a class="page-link" th:href="@{'?page='+${paging.nextPage}}" th:data-page="${paging.nextPage}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>

                <!--Last-->
                <!--<li class="page-item"><a class="page-link">Last</a></li>-->

                <a th:href="@{'?page='+${paging.totalPages}}"
                   class="page-link" th:data-page="${paging.totalPages}">
                    <li class="page-item">Last</li>
                </a>

            </ul>
        </nav>
    </div>
    <!--End pagination-->
</div>
<th:block layout:fragment="customScript">
</th:block>

</body>

</html>