<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/sub_layout">

<head>

    <title>Category</title>
    <link rel="stylesheet" href="css/view-quiz.css">
</head>

<body>
<!-- Start your project here-->
<div class="content" layout:fragment="content">
    <!-- Start your project here-->
    <div class="color-main">
        <h4 class="text-center myh4">Challenge Your Self With Other Here</h4>
        <div class="container ">
            <div class="group row">
                <div class="active-pink-3 active-pink-4  col-md-5">
                    <input class="form-control" type="text" placeholder="Quiz name" aria-label="Search">
                </div>
                <div class="active-pink-3 active-pink-4  col-md-5">
                    <select class="mdb-select form-control browser-default colorful-select">
                        <option value="" disabled selected>Category</option>
                        <option value="1" th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}"></option>
                        <!--<option value="2">Female</option>-->
                    </select>
                </div>
                <div class="col-md-2 ">
                    <form class="form-inline md-form form-sm ">

                        <button class="btn btn-sm my-0 waves-light search-btn" mdbWavesEffect type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>

                    </form>
                </div>
            </div>

        </div>

        <!-- Classic tabs -->
        <div class="classic-tabs">
            <!-- Nav tabs -->
            <div class="tabs-wrapper">
                <ul class="nav tabs-orange" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link waves-light active" data-toggle="tab" href="#panel1012" role="tab">
                            <i class="fa fa-list fa-1x" aria-hidden="true"></i>
                            Recently Added
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link waves-light" data-toggle="tab" href="#panel1011" role="tab">
                            <i class="fa fa-heart fa-1x" aria-hidden="true"></i>
                            Most Popular
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Tab panels -->
            <div class="tab-content ">

                <div class="tab-pane  fade in show  container" id="panel1011" role="tabpanel">
                    <h2 class="text-center">Most Popular</h2>
                    <div class="row">

                        <!--<div class="col-md-3 item ml-5 mr-4 text-center card">-->
                            <!--<a href="" class="waves-light">-->
                                <!--<h3>Basic HTML</h3>-->
                                <!--<p>Programming</p>-->
                                <!--<p>Published by: Kidney</p>-->
                            <!--</a>-->
                        <!--</div>-->
                        <div th:each="quiz : ${quizzes}" th:object="${quiz}" class="col-md-3 item ml-5 mr-4 text-center card">
                            <a href="" class="waves-light">
                                <h3 th:text="*{getTitle()}">Basic HTML</h3>
                                <p th:text="*{getSubMajor().getName()}">Programming</p>
                                <p>Published by: <span th:text="*{getUser().getFirstName() +' ' +  getUser().getLastName()}"></span></p>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="tab-pane  fade in show active container" id="panel1012" role="tabpanel">
                    <h2 class="text-center">Recently Added</h2>
                    <div class="row">

                        <div th:each="quiz : ${quizzes}" th:object="${quiz}" class="col-md-3 item ml-5 mr-4 text-center card">
                            <a href="" class="waves-light">
                                <h3 th:text="*{getTitle()}">Basic HTML</h3>
                                <p th:text="*{getSubMajor().getName()}">Programming</p>
                                <p>Published by: <span th:text="*{getUser().getFirstName() +' ' +  getUser().getLastName()}"></span></p>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
            <!-- Classic tabs -->
        </div>

    </div>
<!-- End your project here-->
<th:block layout:fragment="script">
    <!--import your script here-->
    <script>
        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });

    </script>

</th:block>

</body>
</html>
