<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/classroom_layout/default_layout.html">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="/classroom/css/history.css">
</head>

<body class="hidden-sn grey-skin">

<div layout:fragment="content">
   <center>
       <img src="https://us.123rf.com/450wm/chrisdorney/chrisdorney1703/chrisdorney170300099/74779646-not-available-red-rubber-stamp-over-a-white-background-.jpg?ver=6">
   </center>
</div>

</body>
</html>