
<div th:fragment="quiz-tab" xmlns:th="http://www.thymeleaf.org">
    <th:block th:if="${!allQuiz.isEmpty()}">
        <th:block th:each="quiz,iter : ${allQuiz}">
            <h3 th:if="${iter.index==0}" th:text="${quiz.topic.topic}" class="mt-4"></h3>
            <hr th:if="${iter.index==0}">
            <div class="note note-default p-0 mb-1">
                <div class="container m-0 clr-note-container">
                    <div class="row mb-2 p-2 pr-3 align-items-center">
                        <div class="col-7">
                            <h6><b class="fs-16" th:text="${quiz.title}"></b></h6>
                            <p class="text-muted mb-0 fs-14" th:text="${#dates.format(quiz.createdDate, 'dd-MMM-yyyy hh:mm:ss')}"><i
                                    class="fas fa-calendar-alt pr-1"></i></p>
                        </div>
                        <div class="col-2   ">
                                <th:block th:if="${quiz.quizRecordStatus==0}">
                                    <h5  class="text-muted mb-0 clr-font-weight-500 clr-submited fs-16" th:text="#{submitted}">Submited</h5>
                                </th:block>
                                <th:block th:unless="${quiz.quizRecordStatus==0}">
                                    <th:block th:if="${quiz.dateExpire.before(#dates.createNow())}">
                                        <h5 th:value="${#dates.createNow()} " class="text-muted mb-0 clr-font-weight-500 clr-expired fs-16" th:text="#{missed}">Missed</h5>
                                    </th:block>
                                    <th:block th:if="${quiz.dateExpire.after(#dates.createNow())}">
                                        <h5 class="text-muted mb-0 clr-font-weight-500 clr-assigned fs-16" th:text="#{assigned}">Assigned</h5>
                                    </th:block>
                                </th:block>
                        </div>
                        <div class="col-3">
                            <div class="btn-group float-right">
                                <th:block th:if="${quiz.dateExpire.after(#dates.createNow())and (quiz.quizRecordStatus==1)}">
                                    <a th:href="@{/classroom/do-quiz(quiz_id=${quiz.id},classId=${classid})}"><button class="btn btn-sm btn-default" th:text="#{do-quiz}">DO QUIZ</button></a>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:if="!${(iter.index+1)>=iter.size}">
                <th:block th:if="${allQuiz[iter.index].topic.id!=allQuiz[iter.index+1].topic.id}">
                    <h3 th:text="${allQuiz[iter.index+1].topic.topic}" class="mt-4"></h3>
                    <hr>
                </th:block>
            </th:block>
        </th:block>
    </th:block>
    <th:block th:unless="${!allQuiz.isEmpty()}">
        <hr>
        <h4 class="text-center mt-3" th:text="#{no-quiz}">No Quiz</h4>
    </th:block>
    <nav aria-label="Page navigation example slide-pagination" class="position-relative" th:if="${paging.totalPages} > 1">
        <ul class="pagination pagination-circle pg-teal w-100 d-flex justify-content-center">
            <li class="page-item"><a class="page-link" onclick="getStudentQuiz(1)" th:text="#{first}">First</a></li>
            <li class="page-item">
                <a class="page-link" aria-label="Previous" th:onclick="|getStudentQuiz('${paging.previousPage}')|">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only" th:text="#{previous}">Previous</span>
                </a>
            </li>
            <li th:each="i: ${#numbers.sequence(paging.startPage, paging.endPage)}"
                th:class="${paging.page}==${i} ? 'page-item active': 'page-item' " >
                <a class="page-link" th:onclick="|getStudentQuiz('${i}')|" th:text="${i}"></a>
            </li>
            <li class="page-item">
                <a class="page-link" aria-label="Next" th:onclick="|getStudentQuiz('${paging.nextPage}')|">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only" th:text="#{next}">Next</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" th:onclick="|getStudentQuiz('${paging.totalPages}')|" th:text="#{last}">Last</a></li>
        </ul>
    </nav>
</div>